<section class="content">
  <p>
    Hello! This app was built in early 2016 by me (Ryan) for HRL Laboratories. It's my first app so things are kind of messy.<br>
    It uses Ruby on Rails, PostgreSQL, and Bourbon.<br>
    You can see my stuff at <a href="http://www.github.com/chang-ryan">www.github.com/chang-ryan</a>.<br><br>
    If you are demo'ing the app, please feel free to login using the following credentials:<br>
    <table>
      <tr>
        <th>Demo Email</th>
        <th>Demo Password</th>
      </tr>
      <tr>
        <td>xrd-admin@hrl.com</td>
        <td>galaxy</td>
      </tr>
    </table>
  </p>
</section>
