<div class="admin container">
  <h2>Administrator Panel</h2>
  <aside>
    <nav>
      <ul>
        <li><%= nav_link 'Users',               admin_panel_users_path %></li>
        <li><%= link_to 'Database Management', root_path %></li>
      </ul>
    </nav>
  </aside>
  <section>
    <%= yield :section %>
  </section>
</div>
