<% provide(:title, "Admin Area") %>

<div class="admin container">
  <h2>Administrator Panel</h2>
  <aside>
    <nav>
      <ul>
        <li><%= nav_link 'Users',               admin_panel_users_path %></li>
        <li><%= nav_link 'Database Management', admin_panel_db_manage_path %></li>
        <li><%= nav_link 'Usage Statistics',    admin_panel_usage_stats_path %></li>
      </ul>
    </nav>
  </aside>
  <div>
    <%= yield :section %>
  </div>
</div>
