<h1>HRL XRD Queue</h1>

<p>
  Hi <%= @user.name %>,
</p>

<p>
  Please activate your account by clicking the link provided below.
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
