
<section class="content">
  <h1>Current Queue</h1>
  <div class="filter">
    <h3>Filter</h3>
    <input id="" placeholder="Hi">
  </div>
  <%= render partial: '/shared/table' %>
</section>
<section class="content">
  <h1>Archive</h1>
  <%= render partial: '/shared/table_scanned' %>
</section>
