
<section class="content">
  <h1>Current Queue</h1>
  <div class="filter">
    Filter Options: Requestor Urgency Scan Type
  </div>
  <%= render partial: '/shared/table' %>
</section>
<section class="content">
  <h1>Archive</h1>
  <%= render partial: '/shared/table_scanned' %>
</section>
