<table id="queue">
  <thead>
    <tr>
      <td>Date In</td>
      <td>Requestor</td>
      <td>Sample &#35;</td>
      <td>Charge &#35;</td>
      <td>Need By</td>
      <td>File Format</td>
      <td>Scan Type</td>
      <td>Scanned</td>
    </tr>
  </thead>

  <% if !@archive_bool %>
    <tbody id="queue-body">
      <%= render partial: '/shared/table_tobescanned' %>
    </tbody>
  <% else %>
    <tbody id="archive-body">
      <%= render partial: '/shared/table_scanned' %>
    </tbody>
  <% end %>
</table>

<% if logged_in? && !@archive_bool %>
  <%= render 'shared/entry_form' %>
<% end %>
