@import "bourbon";
@import "neat";
@import "base/base";

header,
section {
  @include outer-container;
  margin-bottom: 2em;
}
header {
  margin-top: 25px;
}
nav {
  text-align: right;
}
.wrapper {
  padding: 0.5em 0 1em 0;
  @include display(flex);
}
.wrapper-space_between {
  @include justify-content(space-between);
}
.alpha {
  text-align: center;
  margin: 0 auto;
}
.entry-form {
  margin: 10px 0;
}
.field-container {
  @include display(flex);
}
.field {
  margin-right: 0.5em;
}
.field:last-child {
  margin-right: 0;
}
.alert {
  text-align: center;
  border-radius: 0.5em;
}
.title {
  margin-bottom: 1em;
  h1 {
    margin-bottom: 2px;
  }
}
#queue-id {
  margin-bottom: 2em;
}
