/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* Admin Panel */
.admin {
  aside {
    @include span-columns(2);
    nav {
      text-align: left;
    }
  }

  section {
    @include span-columns(10);
    @include omega();
  }
  a.active {
    color: shade($action-color, 50%);
    font-weight: bold;
  }
}
